logs/
dist/
npm-debug.log
node_modules/
coverage/
.idea/
typings/
run/
logs/
.DS_Store
.vscode
*.swp
!.autod.conf.js
yarn-error.log

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
